* {
	margin: 0;
	padding: 0;
	font-family: Arial,Helvitica,sans-serif;
	background-color: #41b3a3;
	color: #fff;
}


.navbar {
	padding: 10px;
	border-bottom: 3px solid #e27d60;
	margin-bottom: 1.8em;
}

.navbar a {
	text-decoration: none;
	color: #fff;
}

.container a {
	text-decoration: none;
	color: #fff;
}


.navbar button, .navbar button a {
	background-color: #e27d60;
	border-radius: 5px;
	padding: 3px;
	opacity: 0.9;
}

.navbar button a:hover {
	opacity: 1;
}

.navbar ul {
	list-style-type: none;
}

.navbar li {
	display: inline-block;
	color: #fff;
	margin: 0.5em 0px  ;
}

.navbar .brand {
	margin-left:  5em;
	margin-right: 60em;
	font-family: Courier New;
	text-align: left;
	font-style: italic;
	
}


.container {
	margin: auto;
	width: 80%;
	border: 3px solid #e27d60;
	}

.container .head {
	margin: 10px 20px 20px 20px;
	padding: 20px;
}

.container .head h1 {
	margin-bottom: 10px;
	text-align: center;
	font-style: italic;
	border-bottom: 2px solid #fff;
	padding: 10px 0;
}

.container .head p {
	margin: 5px 0;
	text-align: center;
	padding: 5px 0;
}

.clr {
	clear: both;
}

.container .main_l li, .container .main_r li {
	margin: 0 1em;
	line-height: 1.6em;
	list-style-type: square;
}

.container .main_l h2, .container .main_r h2 {
	font-style: italic;
	margin-bottom:  10px;
}

.container .main_l {
	float: left;
	padding: 10px;
	margin: 0px 50px 50px 20px;
}


.container .main_r {
	float: right;
	padding: 10px;
	margin: 0px 50px 50px 20px;
}

.foot {
	text-align: center;
	padding: 15px 0;
}